@import "addons.scss";
@import "bi.scss";

/* This file prefixes all rules with the theme name to avoid causing conflicts with other themes. */
/* The actual styles should be defined in bi.scss */
.bi {
  @include addons;

  // Include bi theme styles in your theme
  @include bi;
  
  .bi-header{
  	background: #0072C6;
  }
  .bi-content {
	background: white;
}
  .bi-footer{
	background: #0072C6;
  }
  .bi-text{
	font-family: Sans-Serif;
	font-size: 34px;
    line-height: normal;
    color:#565656;
	}
	.bi-gray{
	background: #efefef;
	}
	
	.bi-gray {
	background: #efefef;
}

	.bi-bigStyle{
	font-size: 70px;
	line-height: normal;
	color: #565656;
	text-align: right;
}
	.bi-nextLabel{
	font-size: 35px;
	line-height: normal;
	
}
	.v-link span{
	text-decoration: none;
}
	.bi-label-special{
	background-color:#2da6ff;
	color: white;
	font-family: Sans-Serif;
	padding: 5px 10px; 
	margin-left: 5%;
	border: solid 1px white;
	cursor: all-scroll !important;
}
.bi-label-special .v-label{
	cursor: all-scroll !important;
}
	.bi-settingContainer{
	background-color: #efefef;
	
}
.bi-settingContainer{
	background-color: white;
	padding: 0.7%;
}

.bi-settingArea{
	background-color: #efefef;
	padding: 0.4% 1%; 
}
.bi-createChartWindow .popupContent .v-window-wrap .v-window-outerheader{
	background-image:none !important;
	background-color:#0072C6;
}

	
}
